@model Discriminant.Models.EquationPostModel
<h2>Equation @Model.A*X<sup>2</sup>+ (@Model.B)*X+ (@Model.C)</h2>


<h4>Discriminant= @Model.Dscrmnnt</h4>
@*@<button type="submit" value="Save">Calculate Roots</button>*@
<td>
    @if (Model.Dscrmnnt == 0)
    {
        <h4>
            X1=X2= @Model.X1
        </h4>
    }
    else if (Model.Dscrmnnt > 0)
    {
        <h4> X1= @Model.X1</h4>
        <h4> X2= @Model.X2</h4>
    }
    else
    {
        <h4>No roots</h4>
    }
      

</td>

